  {% extends 'base.html' %}
  {% block content %}
  <meta name="description" content="Mare Shoes Shipping Form" > 
  <body>
    <div class="container">
        <h1 class="text-center pt-3">Mare Shoes</h1>
        <h4 class="text-center">Shipping Details</h4>
        <!-- Form -->
        <form method="POST" action="/submit">
        <div class="mb-3">
            <label for="name">Name *</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="" required>
        </div>
        <div class="form-group mb-3">
            <label for="country-select">Country *</label>
            <select id="country-select" name="country" class="form-control" required>
              <option value="USA">United States</option>
              <option value="Canada">Canada</option>
            </select>
          </div>
        <div class="mb-3">
            <label for="street">Street *</label>
            <input type="text" name="street1" class="form-control" id="street" placeholder="" required>
        </div>
          
          <!-- Input group -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Street (line 2)</span>
              </div>
              <input type="text" name="street2" class="form-control" placeholder="">
            <div class="input-group-prepend">
                <span class="input-group-text">City *</span>
              </div>
              <input type="text" name="city" class="form-control" placeholder="" required>
          </div>
          <!-- Input group -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label for="select-beast" class="input-group-text">State *</label>
              </div>
              <select class="form-select" id="select-state" name="state" placeholder="Pick a state...">
              {% include 'utils/state-dropdown.html' %}
              </select>
              <!-- <input type="text" name="state" class="form-control" placeholder="" required> -->
            <div class="input-group-prepend">
                <span class="input-group-text">Postal code/zip *</span>
              </div>
              <input type="text" name="zipcode" class="form-control" placeholder="" required>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>  
    </div>
    
  </body>
{% endblock %}