{% extends 'base.html' %}
{% include 'utils/navbar.html' %}
{% block content %}

<body>
    <div class="container">
      <h1 class="text-center py-2">Transactions</h1>

      <form  method="POST" action="{{ url_for('transactions.search_order') }}" >
        <input type="text" name="name" placeholder="Search by name">
        <input type="submit" class="btn btn-sm btn-primary "></input>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Date</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a class="btn btn-secondary" href='{{ url_for("dashboard.order", user_id=user.id) }}'>{{user.name}}</td></a>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{ user.created_at.strftime('%B %d, %Y')}}</td>
              
            <td><a class="btn-close text-decoration-none" href='{{ url_for("transactions.remove_order", user_id=user.id) }}'
                onclick="return confirm('Are you sure? Deleting in here will delete the record forever.');"></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="text-right">
        <a href="{{ url_for('transactions.transactions', page=users.prev_num) }}"
        class="btn btn-outline-dark 
        {% if not users.has_prev %}disabled{% endif %}">
            &laquo;
        </a>
        <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in users.iter_pages() %}
        {% if page_num %}
        <!-- Check for the active page and set the link to "Active"-->
            {% if users.page == page_num %}
            <a href="{{ url_for('transactions.transactions', page=page_num) }}"
            class="btn btn-dark">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('transactions.transactions', page=page_num) }}"
            class="btn btn-outline-dark">
                {{ page_num }}
            </a>
            {% endif %}
            {% else %}
                ...
            {% endif %}
            {% endfor %}
            <a href="{{ url_for('transactions.transactions', page=users.next_num) }}"
            class="btn btn-outline-dark 
            {% if not users.has_next %}disabled{% endif %}">
                &raquo;
            </a>
            </div>
            <p class="text-right mt-3">
            Showing page {{ users.page }} of {{ users.pages }}
            </p>

        </div>

  </body>


{% endblock %}