{% extends 'base.html' %}
{% include 'utils/navbar.html' %}
{% block content %}

<body>
    <div class="container">
      <h1 class="text-center py-2">Transactions</h1>

      <form  method="POST" action="{{ url_for('transactions.search_order') }}" >
        <input type="text" name="name" placeholder="Search by name">
        <input type="submit" class="btn btn-sm btn-primary "></input>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Date</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          {% if user.created_at %}
          <tr>
            <td><a class="btn btn-secondary" href='{{ url_for("dashboard.order", user_id=user.id) }}'>{{user.name}}</td></a>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>{{ user.created_at.strftime('%B %d, %Y')}}</td>
              
            <td><a class="btn-close text-decoration-none" href='{{ url_for("transactions.remove_order", user_id=user.id) }}'
                onclick="return confirm('Are you sure? Deleting in here will delete the record forever.');"></a></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>


  </body>


{% endblock %}