{% extends 'base.html' %}
{% block content %}
{% include 'utils/navbar.html' %}
  <body>
    <div class="container">
      <h1 class="text-center py-2">Dashboard</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Print</th>
            <th scope="col">Hide</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a class="btn btn-secondary" href='{{ url_for("dashboard.order", user_id=user.id) }}'>{{user.name}}</td></a>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>
              {% if user.label_url %}
              <i class="fas fa-print" onclick="printDocument('{{user.label_url}}');"></i>
            {% else %}
            {% endif %}
            <td><a class="btn-close text-decoration-none" href='{{ url_for("dashboard.delete_order", user_id=user.id) }}'></a></td>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


  </body>
</html>
<script>
  function printDocument(url) {
    // Open a new window or create an iframe
    var printWindow = window.open(url, '_blank');
    // Wait for the document to load in the new window/iframe
    printWindow.onload = function() {
      // Call the print function once the document has loaded
      printWindow.print();
    };  
  }
  
</script>

{% endblock %}
