{% extends 'base.html' %}
{% block content %}
{% include 'utils/navbar.html' %}

<body>
    <div class="container">
      <h1 class="text-center py-2">Create Invoice</h1>
      <form method="POST" action="create_invoice" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name">Name *</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="" required>
        </div>
        <div class="mb-3">
            <label for="price">Price *</label>
            <input type="text" name="price" class="form-control" id="price" placeholder="example: 199.99" required>
        </div>
          
        <div class="mb-3">
            <label for="images">Images</label>
            <input type="file" name="images" id="images" accept="image/*" multiple>
        </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>  
    </div>
  </body>
{% endblock %}